@charset "UTF-8";

body {

    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23PX;
}
 
    #SUB {
        background-color: blueviolet;
    }
    .SECOND {
        background-color: brown;
    }
    .PART2 {
        background-color: darkcyan;
    }
    #TITO2 {
        background-color: bisque;
        text-align: center;
        color:brown;
        font-size: 42px;
    }