@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#0000ff;
}
#section01 {
  background-image: url(imagems/SITE-SALVAR_2.webp);
  counter-increment: inherit;
}

#ladoform div {
  display: inline;
  width: 700px;

}
#divp p {
  padding: 0px 50px;
}
div {
  display: inline;
}

#fotopedro {
  width: 200px;
  height: 300px;
}  
